@import 'tailwindcss';

:root {
	--color-background-main: rgb(30, 30, 30);
	--color-background-sidebar: rgb(23, 23, 23);
	--color-background-card: rgb(50, 50, 50);
	--color-background-hover: rgba(71, 71, 71, 0.5);
	--color-text-primary: white;
	--color-text-secondary: rgb(180, 180, 180);
	--color-accent: #4CAF50;
	--color-border: rgb(71, 71, 71);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background-main);
	color: var(--color-text-primary);
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.inter {
	font-family: 'Inter', sans-serif;
}
.separador {
	height: 2px;
	background-color: var(--color-border);
	width: 300px;
}
